header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background: linear-gradient(to right, #FDDFDF,  #fceaff,  #98d7a5, #DEFDE0, #eaeda1, #FCF7DE, #f8d5a3, #f4e7da, #97b3e6, #DEF3FD);
  color: rgb(63, 66, 68);
  font-size: 24px;
  margin-bottom: 20px;
}


 









  
 
